<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Фильтровальные рукава и каркасы от производителя</title>
  <meta name="keywords" content="Фильтровальные рукава,каркасы,от производителя">
  <meta name="description" content="Фильтровальные рукава и каркасы от производителя">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="{{ url_for ('static', filename='apple-touch-icon.png') }}">

  <!--Google Font link-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">


  <!--For Plugins external css-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins.css') }}"/>

  <!--Theme custom css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!--Theme Responsive css-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}"/>

    <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
    <style>
        .thumb img {
            -webkit-filter: grayscale(0);
            filter: none;
            border-radius: 5px;
            background-color: #fff;
            border: 1px solid #ddd;
            padding: 5px;
        }

        .thumb img:hover {
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
        }

        .thumb {
            padding: 5px;
        }
    </style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="200">
<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<div class='preloader'>
    <div class='loaded'>&nbsp;</div>
</div>

<div class="culmn">
    <header id="main_menu" class="header navbar-fixed-top">
        <div class="main_menu_bg">
            <div class="container">
                <div class="row">
                    <div class="nave_menu">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="#home">
                                        <img src="{{ url_for ('static', filename='images/logo.png')}}"/>
                                    </a>
                                </div>
                                <!-- Collect the nav links, forms, and other content for toggling -->

                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="#home">Главная</a></li>
                                        <li><a href="#service">Материалы</a></li>
                                        <li><a href="#sizes">Размеры и типы</a></li>
                                        <li><a href="#characteristics">Характеристики</a></li>
                                        <li><a href="#contact">Контакты</a></li>
                                    </ul>
                                    <a href="#contact" id="popup__toggle" onclick="return false;"><div class="circlephone" style="transform-origin: center;"></div><div class="circle-fill" style="transform-origin: center;"></div><div class="img-circle" style="transform-origin: center;"><div class="img-circleblock" style="transform-origin: center;"></div></div></a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header> <!--End of header -->

    <section id="home" class="home">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="main_home_slider text-center">
                            <div class="single_home_slider">
                                <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                    <h1>Фильтровальные рукава и каркасы от производителя из Кемерово</h1>
                                </div>
                            </div>
                            <div class="single_home_slider">
                                <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                    <h1>Большой выбор фильтровальных материалов</h1>
                                </div>
                            </div>
                            <div class="single_home_slider">
                                <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                    <h1>Только высококачественные материалы</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="service" class="service" style="margin-bottom: 2%">
        <div class="container">
            <div class="row" style="margin-left: 1%; margin-right: 1%">
                <div class="main_portfolio sections">
                    <div class="tab-pane active" id="webdesign" style="margin-top: 4%">
                        <div class="single_service_tab">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="single_tab_content">
                                        <div class="head_title">
                                            <h3>Предлагаем большой выбор фильтровальных материалов в различном ценовом
                                                сегменте</h3>
                                        </div>
                                        <h4 style="text-align: center; font-size: 19px">Российский производитель
                                            фильтровальных рукавов из города Кемерово</h4>
                                        <p style="font-size: 17px">ООО ИК «Спецкомплектация» производит рукавные фильтры
                                            и комплектующие к ним уже более 10 лет.
                                            Качество продукции изделий подтверждено декларацией о соответствии ТР ТС
                                            010/2011 : ЕАЭС № RU Д-RU.АВ24.В.04211.
                                            На предприятии осуществляется входной контроль , проводятся исследования
                                            материалов.
                                        </p>
                                        <p style="font-size: 17px">Компания сотрудничает с поставщиками из России,
                                            Германии, Китая.
                                            Мы предлагаем заказчикам большой выбор фильтровальных материалов в различном
                                            ценовом сегменте.
                                            Для постоянных покупателей действует система скидок на продукцию,
                                            возможность оплаты товара после поставки .
                                            Наши специалисты имеют возможность сделать чертёж по рисунку, фотографии,
                                            словесному описанию, при необходимости пошить изделие и выслать образец
                                            заказчику.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


  <section id="portfolio" class="portfolio lightbg">
    <div class="container">
      <div class="row" style="margin-left: 1%; margin-right: 1%">
        <div class="main_portfolio sections">
          <div class="col-sm-12">
            <div class="head_title" style="margin-bottom: 0">
              <h3>Материалы для фильтровальных рукавов</h3>
            </div>
          </div>
          <div class="skillbar" style="border: hidden"></div>

          {% for material in materials %}
            {% if material.images %}
              <div class="row">
                {% for image in material.images %}
                  <div class="col-md-4 col-sm-4 col-xs-6 thumb">
                    <a data-fancybox="gallery" href="{{ url_for('image', filename=image.url) }}">
                      <img class="img-responsive" src="{{ url_for('image', filename=image.url) }}" alt="">
                    </a>
                  </div>
                {% endfor %}
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h4><strong>{{ material.name }} ({{ material.notation }})</strong></h4>
                  <table class="table table-bordered" style="border: hidden">
                    <tbody>
                    {% for paragraph in material.paragraphs %}
                      <tr>
                        <td>{{ paragraph.field }}</td>
                        <td>{{ paragraph.value }}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>


  <section id="sizes" class="othersservice">
    <div class="container">
      <div class="row" style="margin-top: 4%; margin-left: 1%; margin-right: 1%">
        <div class="col-sm-12">
          <div class="main_othersservice_area sections">
            <div class="row">
              <div class="head_title" style="margin-bottom: 2%">
                <h3>Размер и типы рукавов</h3>
                <h4>Размеры рукава:</h4>
                <h5 style="text-align: center">D диаметр внутренний - 135мм, 150мм, 257мм - другие
                  размеры по запросу</h5>
                <h5 style="text-align: center">L длина рукава 1м, 2м, 3м, 3.5м, 5м и 6 м - другие
                  размеры по запросу</h5>
                <h4 style="text-align: center">Верхняя часть рукава может быть разных типов:</h4>
              </div>

              <div class="row">
                <div class="col-md-1-5 col-sm-12 col-xs-12 thumb">
                  <span class="image_description"
                        style="margin-bottom: 2%">защелкивающееся кольцо с двойным буртом</span>
                  <a data-fancybox="gallery"
                     href="{{ url_for('static', filename='images/services/1.png') }}">
                    <img class="img-responsive"
                         src="{{ url_for('static', filename='images/services/1.png') }}" alt="">
                  </a>
                </div>
                <div class="col-md-1-5 col-sm-12 col-xs-12 thumb">
                  <span class="image_description"
                        style="margin-bottom: 2%">защелкивающееся кольцо с одинарным буртом</span>
                  <a data-fancybox="gallery"
                     href="{{ url_for('static', filename='images/services/2.png') }}">
                    <img class="img-responsive"
                         src="{{ url_for('static', filename='images/services/2.png') }}" alt="">
                  </a>
                </div>
                <div class="col-md-1-5 col-sm-12 col-xs-12 thumb">
                  <span class="image_description" style="margin-top: 10%; margin-bottom: 20%">открытая сторона</span>
                  <a data-fancybox="gallery"
                     href="{{ url_for('static', filename='images/services/3.png') }}">
                    <img class="img-responsive"
                         src="{{ url_for('static', filename='images/services/3.png') }}" alt="">
                  </a>
                </div>
                <div class="col-md-1-5 col-sm-12 col-xs-12 thumb">
                  <span class="image_description" style="margin-bottom: 12%; margin-top: 6%">открытая сторона с отворотом</span>
                  <a data-fancybox="gallery"
                     href="{{ url_for('static', filename='images/services/4.png') }}">
                    <img class="img-responsive"
                         src="{{ url_for('static', filename='images/services/4.png') }}" alt="">
                  </a>
                </div>
                <div class="col-md-1-5 col-sm-12 col-xs-12 thumb" style="margin-bottom: 4%">
                  <span class="image_description" style="margin-bottom: 2%">открытая сторона с отворотом и вшитым кольцом</span>
                  <a data-fancybox="gallery"
                     href="{{ url_for('static', filename='images/services/5.png') }}">
                    <img class="img-responsive"
                         src="{{ url_for('static', filename='images/services/5.png') }}" alt="">
                  </a>
                </div>
              </div>


              <div class="row">
                <div class="head_title" style="margin-bottom: 2%;margin-top: 4%">
                  <h4 style="text-align: center">Нижняя часть рукава может быть разных типов:</h4>
                </div>

                <div class="col-md-2 col-sm-12 col-xs-12 thumb">
                                    <span class="image_description"
                                          style="margin-top: 10%; margin-bottom: 10%">простое дно</span>
                  <a data-fancybox="gallery"
                     href="{{ url_for('static', filename='images/services/6.png') }}">
                    <img class="img-responsive"
                         src="{{ url_for('static', filename='images/services/6.png') }}" alt="">
                  </a>
                </div>

                <div class="col-md-2 col-sm-12 col-xs-12 thumb">
                  <span class="image_description" style="margin-bottom: 2%">простое дно укрепленное</span>
                  <a data-fancybox="gallery"
                     href="{{ url_for('static', filename='images/services/7.png') }}">
                    <img class="img-responsive"
                         src="{{ url_for('static', filename='images/services/7.png') }}" alt="">
                  </a>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12 thumb">
                  <span class="image_description" style="margin-bottom: 2%">двойное дно укрепленное</span>
                  <a data-fancybox="gallery"
                     href="{{ url_for('static', filename='images/services/8.png') }}">
                    <img class="img-responsive"
                         src="{{ url_for('static', filename='images/services/8.png') }}" alt="">
                  </a>
                </div>

                <div class="col-md-2 col-sm-12 col-xs-12 thumb">
                  <span class="image_description" style="margin-top: 10%; margin-bottom: 10%">рукав (с дном)</span>
                  <a data-fancybox="gallery"
                     href="{{ url_for('static', filename='images/services/9.png') }}">
                    <img class="img-responsive"
                         src="{{ url_for('static', filename='images/services/9.png') }}" alt="">
                  </a>
                </div>

                <div class="col-md-2 col-sm-12 col-xs-12 thumb">
                  <span class="image_description" style="margin-top: 10%; margin-bottom: 10%">труба (без дна)</span>
                  <a data-fancybox="gallery"
                     href="{{ url_for('static', filename='images/services/10.png') }}">
                    <img class="img-responsive"
                         src="{{ url_for('static', filename='images/services/10.png') }}" alt="">
                  </a>
                </div>

                <div class="col-md-2 col-sm-12 col-xs-12 thumb">
                  <span class="image_description" style="margin-top: 10%; margin-bottom: 10%">мешок</span>
                  <a data-fancybox="gallery"
                     href="{{ url_for('static', filename='images/services/11.png') }}">
                    <img class="img-responsive"
                         src="{{ url_for('static', filename='images/services/11.png') }}" alt="">
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="characteristics" class="portfolio lightbg">
    <div class="container">
      <div class="row" style="margin-top: 8%; margin-left: 1%; margin-right: 1%">
        <div class="head_title">
          <h3>Характеристики Материалов</h3>
          <h4>Сопротивление синтетических волокн</h4>
        </div>


        <div class="table-responsive" style="font-size: 16px">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Тип волокна</th>
              <th>Температура рабочая/макс.</th>
              <th>Стойкость к нагрузкам</th>
              <th>Стойкость к истиранию</th>
              <th>Стойкость к гидролизу</th>
              <th>Стойкость к кислоте</th>
              <th>Стойкость к щелочи</th>
              <th>Стойкость к окислению</th>
              <th>Проименение в промышленности</th>
            </tr>
            </thead>
            <tbody>
            {% for material in materials_characteristics %}
              <tr>
                <td>{{ material.name }} ({{ material.notation }})</td>
                <td>{{ material.work_temperature }}°С/{{ material.max_temperature }}°С</td>
                  <td><b style="font-size: 28px">{{ Resistance_TEXT[material.resistance_load] | safe }}</b></td>
                  <td><b style="font-size: 28px">{{ Resistance_TEXT[material.resistance_abrasion] | safe }}</b></td>
                  <td><b style="font-size: 28px">{{ Resistance_TEXT[material.resistance_hydrolysis] | safe }}</b></td>
                  <td><b style="font-size: 28px">{{ Resistance_TEXT[material.resistance_acid] | safe }}</b></td>
                  <td><b style="font-size: 28px">{{ Resistance_TEXT[material.resistance_alkali] | safe }}</b></td>
                  <td><b style="font-size: 28px">{{ Resistance_TEXT[material.resistance_oxidation] | safe }}</b></td>
                <td>{{ material.application_of }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

          <p style="text-align: right; font-size: 15.5px">····· Отличная, ···· Хорошая, ··· Удовл, ·· Плохая.</p>

        <div class="head_title">
          <h4 style="margin-top: 2%; margin-bottom: 0">Химическая защитная обработка</h4>
        </div>
        <div class="table-responsive" style="font-size: 16px">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th rowspan="2">Описание</th>
              <th colspan="{{ materials_himical | length - 1 }}">Доступные типы</th>
              <th rowspan="2">{{ materials_himical[-1].notation }}</th>
            </tr>
            <tr>
              {% for material in materials_himical[:-1] %}
                <td>{{ material.notation }}</td>
              {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Водоотталкивающая пропитка</td>
              {% for material in materials_himical %}
                <td>{{ Availability_TEXT[material.water_repellent_impregnation] }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td>Защита от летящих искр</td>
              {% for material in materials_himical %}
                <td>{{ Availability_TEXT[material.protection_against_flying_sparks] }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td>Защита от летящих искр, водо-отталкивающая пропитка</td>
              {% for material in materials_himical %}
                <td>{{ Availability_TEXT[material.spark_water_protection] }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td>Защита от пламени</td>
              {% for material in materials_himical %}
                <td>{{ Availability_TEXT[material.flame_protection] }}</td>
              {% endfor %}
            </tr>
            </tbody>
          </table>
        </div>

        <div class="head_title">
          <h4 style="margin-top: 2%; margin-bottom: 0">Физическая обработка поверхности</h4>
        </div>
        <div class="table-responsive" style="font-size: 16px">
          <table class="table table-bordered">
            <thead>
               <tr>
              <th rowspan="2">Описание</th>
              <th colspan="{{ materials_phisical | length - 1 }}">Доступные типы</th>
              <th rowspan="2">{{ materials_phisical[-1].notation }}</th>
            </tr>
            <tr>
              {% for material in materials_phisical[:-1] %}
                <td>{{ material.notation }}</td>
              {% endfor %}
            </tr>
            </thead>
            <tbody>

            <tr>
              <td>Подпалённая с одной стороны</td>
              {% for material in materials_phisical %}
                <td>{{ Availability_TEXT[material.podged_one] }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td>Не опалённая</td>
              {% for material in materials_phisical %}
                <td>{{ Availability_TEXT[material.no_podged] }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td>Опалённая с обеих сторон</td>
              {% for material in materials_phisical %}
                <td>{{ Availability_TEXT[material.podged_two] }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td>Гладкая с одной стороны</td>
              {% for material in materials_phisical %}
                <td>{{ Availability_TEXT[material.smooth_one] }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td>Гладкая с обеих сторон</td>
              {% for material in materials_phisical %}
                <td>{{ Availability_TEXT[material.smooth_two] }}</td>
              {% endfor %}
            </tr>
            </tbody>
          </table>
        </div>
        <p style="text-align: right; font-size: 15.5px">x - Стандартная, O - По запросу</p>
      </div>
    </div>
  </section>


  <section id="sizes" class="othersservice">
    <div class="container">
      <div class="row" style="margin-left: 1%; margin-right: 1%">
        <div class="col-sm-12">
          <div class="main_othersservice_area sections">
            <div class="row">
              <div class="head_title" style="margin-bottom: 2%">
                <h3>Фото производства</h3>
              </div>

              <div class="col-md-4 col-sm-4 col-xs-4 thumb">
                <a data-fancybox="gallery"
                   href="{{ url_for ('static', filename='images/production/1.png') }}">
                  <img class="img-responsive"
                       src="{{ url_for ('static', filename='images/production/1.png') }}" alt="">
                </a>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4 thumb">
                <a data-fancybox="gallery"
                   href="{{ url_for ('static', filename='images/production/2.png') }}">
                  <img class="img-responsive"
                       src="{{ url_for ('static', filename='images/production/2.png') }}" alt="">
                </a>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4 thumb" style="margin-bottom: 3%">
                <a data-fancybox="gallery"
                   href="{{ url_for ('static', filename='images/production/3.png') }}">
                  <img class="img-responsive"
                       src="{{ url_for ('static', filename='images/production/3.png') }}" alt="">
                </a>
              </div>

              <div class="head_title">
                <h3>Фото наших объектов</h3>
              </div>

              <div class="col-md-1-5 col-sm-1-5 col-xs-1-5 thumb">
                <a data-fancybox="gallery"
                   href="{{ url_for ('static', filename='images/objects/1.png') }}">
                  <img class="img-responsive"
                       src="{{ url_for ('static', filename='images/objects/1.png') }}" alt="">
                </a>
              </div>

              <div class="col-md-1-5 col-sm-1-5 col-xs-1-5 thumb">
                <a data-fancybox="gallery"
                   href="{{ url_for ('static', filename='images/objects/2.png') }}">
                  <img class="img-responsive"
                       src="{{ url_for ('static', filename='images/objects/2.png') }}" alt="">
                </a>
              </div>
              <div class="col-md-1-5 col-sm-1-5 col-xs-1-5 thumb">
                <a data-fancybox="gallery"
                   href="{{ url_for ('static', filename='images/objects/3.png') }}">
                  <img class="img-responsive"
                       src="{{ url_for ('static', filename='images/objects/3.png') }}" alt="">
                </a>
              </div>

              <div class="col-md-1-5 col-sm-1-5 col-xs-1-5 thumb">
                <a data-fancybox="gallery"
                   href="{{ url_for ('static', filename='images/objects/4.png') }}">
                  <img class="img-responsive"
                       src="{{ url_for ('static', filename='images/objects/4.png') }}" alt="">
                </a>
              </div>

              <div class="col-md-1-5 col-sm-1-5 col-xs-1-5 thumb">
                <a data-fancybox="gallery"
                   href="{{ url_for ('static', filename='images/objects/5.png') }}">
                  <img class="img-responsive"
                       src="{{ url_for ('static', filename='images/objects/5.png') }}" alt="">
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="contact" class="contact">
    <div class="container">
      <div class="row" style="margin-top: 4%; margin-left: 1%; margin-right: 1%">
        <div class="col-sm-12">
          <div class="row">
            <div class="contact_contant sections">
              <div class="col-sm-6">
                <div class="main_contact_info">
                  <div class="head_title">
                    <h3>Наши контакты</h3>
                    <div class="separator"></div>
                  </div>
                  <div class="row">
                    <div class="contact_info_content">
                      <div class="col-sm-12">
                        <div class="single_contact_info">
                          <div class="single_info_icon">
                            <i class="fa fa-home"></i>
                          </div>
                          <div class="single_info_text">
                            <h3>Посетите нас</h3>
                              <p style="margin-bottom: 0">650002, г. Кемерово, ул. Институтская,1</p>
                              <p style="margin-top: 0">ООО ИК "Спецкомплектация"</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="single_contact_info">
                          <div class="single_info_icon">
                            <i class="fa fa-envelope-o"></i>
                          </div>
                          <div class="single_info_text">
                            <h3>Напишите нам</h3>
                            <p>{{ EMAIL }}</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="single_contact_info">
                          <div class="single_info_icon">
                            <i class="fa fa-mobile"></i>
                          </div>
                          <div class="single_info_text">
                            <h3>Позвоните нам</h3>
                            <p><a href="tel:8-905-069-11-90">8-905-069-11-90</a></p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="single_contact_info">
                          <div class="single_info_icon">
                            <i class="fa fa-clock-o"></i>
                          </div>
                          <div class="single_info_text">
                            <h3>Часы работы</h3>
                            <p>ПН - ПТ: с 09:00 - до 20:00</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="head_title">
                  <h3>Обратная связь</h3>
                  <div class="separator"></div>
                </div>
                <div class="single_contant_left">
                  <form id="contact-form">
                    <div class="row" style="margin-left: -15px; margin-right: -15px">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <input type="text" class="form-control" name="name" placeholder="Имя" required="">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <input type="text" class="form-control" name="surname" placeholder="Фамилия" required="">
                        </div>
                      </div>
                    </div>
                    <div class="row" style="margin-left: -15px; margin-right: -15px">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <input type="email" class="form-control" name="email" placeholder="Email адрес" required="">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <input type="text" class="form-control" name="tel" placeholder="Телефон" required="">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" name="message" rows="8" placeholder="Сообщение"></textarea>
                    </div>
                    <div class="">
                      <input style="font-size: 19px" type="submit" value="Отправить" class="btn btn-primary">
                    </div>
                    <!--</div>-->
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>  <!-- End of contact section -->

  <section class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="main_footer">
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <div class="copyright_text">
                  <p class=" wow fadeInRight" data-wow-duration="1s">© Все права защищены 2018г. <a style="color: #ffffff" href="/">ООО ИК "Спецкомплектация"</a><a style="color: #ffffff" href="/special/">Версия для слабовидящих</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</div>

<!-- START SCROLL TO TOP  -->

<div class="scrollup">
  <a href="#"><i class="fa fa-chevron-up"></i></a>
</div>

<script src="http://cdn.callibri.ru/callibri.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery-1.11.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/bootstrap-notify.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/jquery.magnific-popup.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.mixitup.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.masonry.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.fancybox.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
<script>
  function email_send(id, data, callback) {
    $(id).submit(function (event) {
      event.preventDefault();
      $(this).validate();
      var requestData = Object.assign({}, data);
      var $inputs = $(this).find('input, textarea, select');
      $inputs.each(function () {
        requestData[this.name] = $(this).val();
      });
      $.ajax({
        url: '/ajax/send/email/',
        type: 'post',
        data: JSON.stringify(requestData),
        dataType: 'text',
        contentType: "application/json",
        success: function () {
          $.notify({
            message: "Ваша заявка успешно оформлена"
          }, {
            type: 'success'
          });
          $inputs.each(function () {
            $(this).val('');
          });
          if (!!callback) callback(true);
        },
        error: function () {
          $.notify({
            message: "Извините, произошла ошибка на стороне сервера"
          }, {
            type: 'danger'
          });
          if (!!callback) callback(false);
        }
      });
    });
  }

  email_send('#contact-form', {});
</script>
<script src="{{ url_for ('static', filename='js/plugins.js') }}"></script>
<script src="{{ url_for ('static', filename='js/main.js') }}"></script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter48012140 = new Ya.Metrika({
                    id:48012140,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/48012140" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>